name: Publish Package to Registry

on:
    create:
        tags:
            - '*'

jobs:
    build:
        runs-on: ubuntu-latest
        env:
            NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        steps:
            -   name: Check out code
                uses: actions/checkout@v2

            -   name: Set up Node.js
                uses: actions/setup-node@v2
                with:
                    node-version: '14'
                    registry-url: 'https://registry.npmjs.org'

            -   name: Replace version in package.json
                run: |
                    VERSION="${{ github.event.release.tag_name }}"
                    VERSION=${VERSION#v} # Strip 'v' prefix if present
                    sed -i 's/{{version}}/'"$VERSION"'/g' package.json
                    echo "Updated package.json with version $VERSION"

            -   name: Enable npmrc
                run: mv .npmrc.prod .npmrc

            -   name: Install dependencies
                run: npm install

            -   name: Build the package
                run: npm run build

            -   name: Extract tag version
                id: extract_version
                run: echo "TAG_VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

            -   name: Publish package
                run: npm publish --access public
